`Authorization` header get downcased into `authorization`

Hi there :-)

I am using the faraday async adapter to make some calls to an endpoint which requires an header `Authorization` with capital `A` to evaluate if the request can be authorised or not.

After some investigation I think I found that the issue is in here:
https://github.com/socketry/protocol-http/blob/0d2ee70d28a6af8f6e1f80d5e786714adbc63d6b/lib/protocol/http/headers.rb#L204-L249

It seems to me that this gem applies some policies on specific header keys and they eventually get downcased.

I admit I am not entirely sure if this is intended to be this way or if it is bug.

In any case the fact that `Authorization` header get mapped to `authorization` prevent my request to be authorised.

Potentially I could change the endpoint to watch also for downcased `authorization` header, but before doing that I would like to know why these policies are required, if there is anyway ( which I have missed ) to bypass them and/or any room to change the current behaviour to allow specific keys not to be downcased.

Thanks 


The semantics of a HTTP request/response are not affected by the case of the HTTP headers. Both HTTP/1.1 and HTTP/2 header names are case-insensitive and HTTP/2 enforces lowercase header names.

## HTTP/1.1

According to [RFC 7230, section 3.2](https://www.rfc-editor.org/rfc/rfc7230#section-3.2):

> Each header field consists of a case-insensitive field name followed by a colon (":"), optional leading whitespace, the field value, and optional trailing whitespace.

## HTTP/2.0

According to [RFC 7540, section 8.1.2](https://www.rfc-editor.org/rfc/rfc7540#section-8.1.2):

> Just as in HTTP/1.x, header field names are strings of ASCII
> characters that are compared in a case-insensitive fashion.

and:

> However, header field names MUST be converted to lowercase prior to their encoding in HTTP/2. A
> request or response containing uppercase header field names MUST be treated as malformed.


Ohhh cool. Clearly it was me missing something.

all right then !!! Thank you for the answer